/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  /* background-color:#E4E4E4; */
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  text-transform: uppercase;
}

/* Portrait layout (default) */
/* #app {
  position:absolute;           
  left:50%;
  top:50%;
  height:50px;                 
  width:225px;                 
  text-align:center;
  padding:180px 0px 0px 0px;   
  margin:-115px 0px 0px -112px;
} */

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  /* #app {
    padding:75px 0px 75px 170px;
    margin:-90px 0px 0px -198px;
  } */
}

#LoginView {
  background-image: linear-gradient(to bottom, #a73460 30%, #35265f 100%);
  height: 100vh;
}

#LoginView #loginLogo {
  background-image: url(../img/logo.svg);
  width: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
}

#LoginView #loginForm {
  position: absolute;
  top: 350px;
  right: 0;
  left: 0;
  bottom: 0;
}

#LoginView #loginForm input { 
  display: block;
  margin: 3px auto;
  background-color: transparent;
  outline: none;
  border: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

#LoginView #loginForm button { 
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  width: 100px;
  margin: 0 auto;
}

#header {
  height: 50px;
  background-image: linear-gradient(to right, #a73460 30%, #35265f 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#headerTitle {
  color: #fff;
  display: inline-block;
  margin-left: 30px;
}

#content {
  margin-top: 50px;
}

#menuBtn {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 10px 0 0 10px;
}

#menuBtn i {
  color: #fff;
}

#sendMessage {
  position: fixed;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

#messages {
  margin-top: 50px;
  height: 625px;
  overflow: scroll;
}

.Messages-list {
  margin: 0;
  padding: 0;
}

.message {
  list-style: none;
  margin: 15px 15px 15px 0;
  display: flex;
}

.message .text {
  padding: 20px;
  border-radius: 23px;
  background-image: linear-gradient(to right, #a73460 30%, #35265f 100%);
  color: white;
}

.message .username {
  color: black;
}

.message.currentUser {
  justify-content: flex-end;
}

.message.currentUser .text {
  color: red;
  background-color: #ccc;
  background-image: none;
}

#messageInputContainer {
  width: 90%;
  display: inline-block;
}

#messageInput {
  width: 90%;
  font-size: 18px;
  padding: 10px;
}

#messageBtn {
  display: inline-block;
  width: 40px;
  text-align: center;
  color: #a73460;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

.event {
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

.event.listening {
  background-color: #333333;
  display: block;
}

.event.received {
  background-color: #4b946a;
  display: none;
}

#deviceready.ready .event.listening {
  display: none;
}
#deviceready.ready .event.received {
  display: block;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

/* Dark Mode */
/* @media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }
} */

/* The side navigation menu */
#sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidenav-header {
  background-image: linear-gradient(to right, #a73460 30%, #35265f 100%);
  height: 200px;
}

#sidenav-logo {
  background-image: url(../img/logo.svg);
  width: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}

#sidenav-header-inner {
  display: flex;
  position: absolute;
  top: 95px;
  left: 10%;
  right: 10%;
  width: 80%;
  color: #fff;
  border-top: 1px solid rgba(255,255,255,0.5);
  justify-content: center;
  place-content: space-evenly;
}

#sidenav-avatar,
#sidenav-device {
  padding-top: 10px;
}

#sidenav-divider {
  width: 1px;
  background-color: rgba(255,255,255,0.5);
}

#sidenav-body {
  background-color: #fff;
}

#sidenav-body ul {
  margin: 0;
  padding: 0;
}
/* The navigation menu links */
#sidenav li {
  list-style: none;
}

#sidenav-body li a {
  padding: 0;
  font-weight: bold;
  color: #000;
  font-size: 1.5em;
  margin: 1.6em 1em;
}



#sidenav li > * {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidenav li > *:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#sidenav #menuCloseBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  margin-top: 50px;
}

/* Dashboard View */
#dashboardNav {
  border-top: 1px solid #000;
  background-image: linear-gradient(to right, #a73460 30%, #35265f 100%);
  height: 100px;
}

#dashboardNav li {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  color: #fff;
  margin: 2em 4em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {
    padding-top: 15px;
  }
  #sidenav a {
    font-size: 18px;
  }
}






/* loading spinner */
#loading-spinner {
  visibility: hidden;
  position: absolute;
  left: 40%;
  top: 40%;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #a73460;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

